:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
    background: #1e293b;
  }
  mat-drawer-container {
    height: 100%;
  }

  .new{
    background: red($color: #000000);
  }
  

 
