<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Quick View</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        <!-- <select [(ngModel)]="selectedShopId" (ngModelChange)="onShopSelect()">
          <option value="shop1">Shop 1</option>
          <option value="shop2">Shop 2</option>
          <option value="shop3">Shop 3</option>
        </select> -->
      </div>
    </div>
  </div>