<mat-nav-list>
    <div class="logo py-4">
      <img src="../../assets/retailinLogo2.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATION</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> <span style="color: white;">Quick View</span>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> <span style="color: white;">Analysis</span>
    </a>
    <a mat-list-item class="text-white"><mat-icon>edit</mat-icon> <span style="color: white;">Comparison</span> </a>
    <a mat-list-item class="links"><mat-icon>edit</mat-icon><span style="color: white;">Machile Learning</span> </a>
    <a mat-list-item class="links"><mat-icon>edit</mat-icon> <span style="color: white;">Link 5</span></a>
    <a mat-list-item class="links"><mat-icon>edit</mat-icon><span style="color: white;">Link 6</span> </a>
  </mat-nav-list>